*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --green-primary:rgba(172, 217, 178, 1);
    --input-gray-background:rgba(247, 247, 247, 1);
    --input-letters:rgba(121, 121, 121, 1);
    --black-letters:rgba(0, 0, 0, 1);

}
html{
    font-size: 62.5%;
    font-family: 'Quicksand', sans-serif;
    background-color: rgba(255, 255, 255, 1);
}

.form{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    margin: 18px auto 0;
    width: 90%;
    max-width: 340px;
    min-height: 95vh;
    position: relative;
}
.my-account{
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.25rem;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 47px;
}
.label{
    color:var(--black-letters);
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.8rem;
    margin-bottom: 6px;
}
.input{
    background-color: var(--input-gray-background);
    border: 1px solid #f7f7f7;
    border-radius: 10px;
    margin-bottom: 24px;
    height: 42px;
    color: var(--input-letters);
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2rem;
}
.prmary-button{
    background-color: var(--green-primary);
    color: rgba(255, 255, 255, 1);
    border: 1px solid #ACD9B2;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.0001);
    border-radius: 10px;
    height: 59px;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.25rem;
    position: absolute;
    width: 90%;
    align-self: center;
    max-width: 400px;
    top: 85%;
}
@media(min-width:600px){
    .form{
        justify-content: center;
    }
    .prmary-button{
        position: static;
        margin-top: 25px;
    }
}